#nav{
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-top: 5px;

    .contra{
        color: #fff;
        padding: 0 45px;
        background-color: #000;
    }
    .menu-ul{
        >li{
            padding:  5px 30px;
            cursor: pointer;
            position: relative;
            transition: .3s;
            .menu{
                position: absolute;
                width: 200px;
                left: 0;
                top: 140%;
                background-color: #000;
                visibility: hidden;
                transform: translateY(30px);
                transition: .3s;
                li{
                    padding: 10px 30px;
                    color: rgb(216, 216, 216);
                    transition: .2s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
            &:hover{
               &::before{
                    width: 50%;
                }
                .menu{
                    visibility: visible;
                    transform: translateY(-5px);
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: 0;
                bottom: 0;
                border-bottom: 1px solid #fff;
                transition: .3s;
            }
        }
    }
    .last{
        span{
            padding: 0 10px;
        }
    }
}
// Navbar end
// Gym start
#gym{
    .left,.right{
        position: relative;
        &:hover{
            .text{
                h1{
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
        .text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50px,-50px);
            h1{
                color: #fff;
                font-size: 80px;
                position: relative;
                z-index: 5;
                &::before{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 100%;
                    z-index: -7;
                    background-color: #000;
                    transition: .5s;
                }
            }
            button{
                padding: 15px 80px;
                background-color: #000;
                color: #fff;
                border: none;
                margin-top: 20px;
            }
        }
    }
}
